<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Produto ao Estoque</title>
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
<div class="navbar">
    <h2>Adicionar estoque</h2>
    <a href="/pagGeral">Voltar à Página Inicial</a>
</div>
<div class="container">
    <h1>Adicionar Produto ao Estoque</h1>
    <p>Não é possivel adicionar dois produtos iguais.</p>
    <form th:action="@{/estoque/salvar}" method="post">
        <label for="produtoId">Produto:</label>
        <select id="produtoId" name="produtoId">
            <th:block th:each="produto : ${produtos}">
                <option th:value="${produto.id}" th:text="${produto.nome}"></option>
            </th:block>
        </select>
        <br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required>
        <br>
        <label for="dataEntrada">Data de Entrada:</label>
        <input type="date" id="dataEntrada" name="dataEntrada" required>
        <br>
        <label for="dataValidade">Data de Validade:</label>
        <input type="date" id="dataValidade" name="dataValidade" required>
        <br>
        <button type="submit" class="btn">Adicionar ao Estoque</button>
    </form>
</div>
<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        const dataEntrada = new Date(document.getElementById("dataEntrada").value);
        const dataValidade = new Date(document.getElementById("dataValidade").value);

        if (dataEntrada > dataValidade) {
            event.preventDefault(); // Impede o envio do formulário
            alert("A data de entrada não pode ser posterior à data de validade!");
        }
    });
</script>
</body>
</html>
