<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Saída</title>
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
<div class="navbar">
    <a href="/pagGeral">Voltar à Página Inicial</a>
</div>
<div class="container">
    <h1>Registrar Saída</h1>
    <form action="/estoque/registrarSaida" method="post">
        <label for="produto">Selecione o Produto:</label>
        <select id="produto" name="produtoId">
            <option th:each="estoque : ${estoques}" th:value="${estoque.produto.id}" th:text="${estoque.produto.nome}"></option>
        </select>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required>
        <label for="tipo">Tipo de Saída:</label>
        <select id="tipo" name="tipo">
            <option value="Venda">Venda</option>
            <option value="Perda">Perda</option>
        </select>
        <button type="submit" class="btn">Registrar Saída</button>
    </form>
</div>
</body>
</html>