<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Produto</title>
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
<header>
    <h1>Editar Produto</h1>
</header>

<div class="container">
    <form th:action="@{/produtos/atualizar/{id}(id=${produto.id})}" th:object="${produto}" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" th:value="${produto.nome}" required>

        <label for="preco">Preço</label>
        <input type="text" id="preco" name="preco" th:value="${produto.preco}" required>


        <label for="fornecedor">Fornecedor</label>
        <input type="text" id="fornecedor" name="fornecedor" th:value="${produto.fornecedor}" required>

        <button type="submit" class="btn">Salvar</button>
    </form>
</div>
</body>
</html>