* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #eaf0f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1c1c1c;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
}

.logo-nome {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 8px;
}

.titulo-site {
    font-size: 22px; /* Ajuste para fonte normal */
    font-weight: normal;
    color: #ddd;
}

.container {
    display: flex;
    margin-top: 60px; /* Adiciona o espaço para o header fixo */
}

.menu-lateral {
    width: 220px;
    background-color: #1c1c1c;
    padding: 20px;
    height: calc(100vh - 60px); /* Altura total da tela menos a altura do header */
    position: fixed;
    top: 60px; /* Posiciona o menu logo abaixo do header */
    left: 0;
    z-index: 1;
}

.menu-lateral ul {
    list-style-type: none;
    font-size: 14px;
}

.menu-lateral li {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.material-icons {
    color: #ffffff;
    font-size: 20px;
}

.menu-lateral li:hover {
    background-color: #333;
    border-radius: 4px;
}

main {
    flex-grow: 1;
    padding: 20px;
    padding-left: 260px;
}

.header-main {
    display: flex;
    flex-direction: column; /* Organiza o título e os botões em coluna */
    align-items: flex-start;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 32px; /* Tamanho maior para "Estoque Disponível" */
    margin-bottom: 20px;
}

.botoes-topo {
    display: flex;
    gap: 10px;
    width: 100%; /* Faz com que os botões ocupem a largura total */
}

.botao-adicionar, .botao-entrada, .botao-saida, .botao-editar, .botao-apagar {
    flex-grow: 1; /* Expande cada botão igualmente */
    padding: 10px 0; /* Aumenta a altura dos botões */
    font-size: 16px; /* Fonte um pouco maior */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1e90ff; /* Cor uniforme para todos os botões */
    text-align: center;
}

.botao-adicionar:hover, .botao-entrada:hover, .botao-saida:hover, .botao-editar:hover, .botao-apagar:hover {
    opacity: 0.9;
}

.tabela-estoque {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.tabela-estoque th, .tabela-estoque td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.tabela-estoque th {
    background-color: #333;
    color: white;
}

.tabela-estoque tbody tr.selecionado {
    background-color: #f0f8ff;
    color: #000;
}
.logo {
    font-size: 100px; /* Tamanho do ícone */
    color: #ffffff; /* Cor azul padrão */
    vertical-align: middle; /* Alinha ao centro verticalmente */
}

header .logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .logout-button:hover {
    background-color: #0056b3;
}